/* Fondo con imagen y blur negro para board-simulation */
.board-simulation {
  background-image: url('../img/portadaBlocka.png');
  background-size: cover;
  background-position: center;
  position: relative;
}
.board-simulation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* negro semitransparente */
  backdrop-filter: blur(6px); /* blur */
  z-index: 1;
}
.board-simulation > * {
  position: relative;
  z-index: 2;
}
