
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*grid del body*/
.gridContainer{
    display:grid;

    grid-template-columns: auto;
    grid-template-rows: 60px auto 400px;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

body {
  background: #37415C;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Contenedor principal */
.login-container {
  background: #272B40;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Título */
.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
}

/* Mensaje dinámico */
#message-login {
  margin-bottom: 1rem;
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

/* Campos del formulario */
.form-group {
  margin-bottom: 1.2rem;
}

.label-nombre {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #FFFFFF;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border all 0.3s;
}
/* Estilos hover */
input:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón de login */
.btn-submit {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background-color: #0056b3;
}

/* Redes sociales */
.container-login-redes {
  margin-top: 2rem;
  text-align: center;
}

.divisor-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: #fafafa;
  font-size: 0.9rem;
}

.line-card-form {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.icons-redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.box-facebook,
.box-google,
.box-Instagram {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.box-facebook:hover,
.box-google:hover,
.box-Instagram:hover {
  transform: scale(1.1);
}

.img-redes {
  width: 35px;
  height: 35px;
}

/* Links inferiores */
.text-redes a {
  display: block;
  margin: 0.4rem 0;
  color: #fafafa;
  text-decoration: none;
  font-size: 0.9rem;
}

.text-redes a:hover {
  text-decoration: underline;
}