h3, .game-title {
    font-family: var(--soft-font);
    font-weight: lighter;
    color: var(--text-light);
}

.game-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending {
    height: 10rem;
    border: solid;
    border-color: rgba(0, 0, 0, 0.178);
    border-width: 2px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card > img {
    height: 16rem;
    width: 21rem;
}



.trending > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/*DESKTOP*/
@media (width >= 768px) {

    .trending {
        height: 30rem;
        width: 90%;
    }

    .game-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


