/* Estilos mínimos */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  padding: 10px;
  background: #fafafa;
  color: #222;
}
/*contenedor de todo el juego */
.grid-contenedor {
  display: grid;
  grid-template-columns: 260px auto; /* HUD a la izquierda, canvas al centro */
  grid-template-rows: auto 1fr;
  gap: 18px;
  grid-template-areas:
    "hud canvas"
    "hud canvas";
  padding-top: 1rem;
  column-gap: 3rem;
  max-width: 1000px;
  margin: 0 auto;
  align-items: start;
}

/* HUD  botones del juego*/
.hud {
  grid-area: hud;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(238, 2, 2, 1);
  display:flex;
  flex-direction:column;
  gap:12px;
  position: sticky;
  top: 0; /* se queda visible en scroll pero respeta el grid */
  align-self: start; /* asegura que se alinee al inicio del grid */
}
/* líneas internas */
.hud-seccion{ 
  display:flex; 
  flex-direction:column; 
  gap:6px; 
}

.hud button{ 
  padding:8px 12px; 
  border-radius:6px; 
  border:1px solid #ccc; 
  background:#fff; 
  cursor:pointer 
}
.hud button:active{
   transform: translateY(1px) 
  }

.timer{ 
  font-weight:700; 
  font-size:1.2rem; 
  color:#1e88e5 
}
#contador-fichas{ 
  font-weight:700; 
  font-size:1.1rem 
}
/* Canvas juego */
.area-juego { 
  grid-area: canvas; 
  display:flex; 
  align-items:start; 
  justify-content:flex-start; 
  align-self: start; /* asegura que se alinee al inicio del grid */
}

.area-canvas {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(23,28,35,1);
  display:flex;
  align-items:center;
  justify-content:center;
}
.mensaje-derrota {
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,7);
  padding: 1rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 24px #0003;
  font-size: 1.1rem;
  color: #fff;
  z-index: 1000;
  display: none;
  white-space: nowrap;
  text-align: center;
}
/*bloqueo-tablero {
  position: absolute;
  background: rgba(255,255,255,0.5);
  z-index: 999;
  padding: 12px;
  //El tamaño y posición se ajustan por JS
}
*/

.cnt-elegir-ficha {
  /*position: fixed;*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: rgba(80, 80, 80, 0.281);
  backdrop-filter: blur(8px);
}

.cnt-elegir-ficha button {
  width: 5%;
  height: 10%;
  overflow: hidden;
  border-radius: 100%;
}

.cnt-elegir-ficha button img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}